<% films.each do |film| %>

<div class="card mb-3 me-4" style="width: 18rem;">
  <a href="/films/<%= film.id %>">
  <% if film.img? %>
    <%= image_tag film.img.url, class: 'img-fluid rounded-start'%>
  <% else %>
    <%= image_tag "non_img.png", class: "img-fluid rounded-start" %>
  <% end %>
  </a>
  <div class="card-body">
    <h5 class="card-title"><%= film.title %></h5>
    <p class="card-text text-muted">
      <small>
      Tags:
        <% film.tags.each do |tag| %>
          <a href= "/categories/<%= tag.id %>" class='text-decoration-none text-reset' ><%= tag.title %></a>
        <% end %>
      </small>
    </p>
    <p class="card-text text-muted">
      <small>
        <%= render 'shared/rating_stars', id: film.id, rating: film.rating %>
      </small>
    </p>
  </div>
</div>
<% end %>

