<div class="card mb-3 text-white bg-dark " style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag "personal.png", class: "img-fluid rounded-start" %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= current_user.username %></h5>
        <p class="card-text">Email: <%= current_user.email %></p>
        <p class="card-text"><small class="text-muted">Created at: <%= current_user.created_at %></small></p>
        <p class="card-text"><small class="text-muted">Updated at: <%= current_user.updated_at %></small></p>
      </div>
      <%= link_to 'Change password', edit_user_registration_path, class:'btn btn-outline-warning my-2 mx-3' %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-warning' %>

    </div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
