<div class="card mx-3 mb-4 text-white bg-dark" style="width: 18rem;">
  <a href="/films/<%= film.slug %>">
  <% if film.img? %>
    <%= image_tag film.img.url, class: 'img-fluid rounded mx-auto mt-3', style: "height: auto;"%>
  <% else %>
    <%= image_tag "non_img.png", class: "img-fluid rounded-start mx-auto mt-3" %>
  <% end %>
  </a>
  <div class="card-body">
    <h5 class="card-title">
      <%= link_to film.title, film_path(film), class: 'text-decoration-none text-reset'%>
    </h5>
    <p class="card-text text-muted">
      <small>
      Tags:
        <%= render film.tags %>
      </small>
    </p>
    <p class="card-text text-muted mb-3">
      <small>
        <%= render 'shared/rating_stars', id: film.id, rating: film.rating %>
      </small>
    </p>
  </div>
</div>

