<!DOCTYPE html>
<html>
  <head>
    <title>IMDB_test_task</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class= 'container bg-dark bg-gradient text-white'>
    <%= render 'shared/navbar2' %>
    <%= render 'shared/alert' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
